<!-- ============================================ -->
<!--             Logo banner                      -->
<!-- ============================================ -->

<section id="banner">
    <div class="cs-container">
        <span class="cs-topper">Officiële verdeler van:</span>
        <picture class="cs-picture">
            <source media="(max-width: 500px)" srcset="/assets/images/banner/banner_small.png">
            <source media="(min-width: 501px)" srcset="/assets/images/banner/banner.png">
            <img decoding="async" src="/assets/images/banner/banner.png" alt="banner" width="100%" height="auto"
                aria-hidden="true">
        </picture>
    </div>
</section>