<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contacten</span>
            <h2 class="cs-title">Interesse in de boot?</h2>
            <p class="cs-text">
                Voor een vraag of meer informatie mag je die ons altijd stellen. Wij beantwoorden u vraag binnen de 24
                uur. <br>U kunt ook contact met ons opnemen door te bellen <strong>
                    +32 472 06 55 17</strong>
            </p>
            <a href="/contact" class="cs-button-solid">Contacteer ons</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/cta.jpg" alt="cabinets" width="1920" height="1280"
            aria-hidden="true">
    </picture>
</section>