<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo/logo.png"
                    alt="logo"></a>
            <!-- <p>
                Uw vertrouwde bootbedrijf.
            </p> -->
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li><a href="/bootonderhoud-en-diagnoses">Bootonderhoud en diagnoses</a></li>
                    <li><a href="/boot-accessoires">Boot accessoires</a></li>
                    <li><a href="/boottrailers">Onderhoud trailers</a></li>
                    <li><a href="/boottrailers">Winterstalling</a></li>
                    <li><a href="/boottrailers">Re-powering</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Aanbod</h2>
                    </li>
                    <li>
                        <a href="/">Nieuwe Fibrafort boten</a>
                    </li>
                    <li>
                        <a href="/">Tweedehands boten</a>
                    </li>
                    <li>
                        <a href="/about">Trailers</a>
                    </li>
                    <li>
                        <a href="/projects">Motoren</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">brabusboats@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <!-- <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Your Company Name</a> -->
        <span class="copyright">
            Copyright 2023 Brabus Boats</span>
    </div>
</footer>