---
preloadCSS: '/assets/css/blog.css'
eleventyComputed:
    title: '{{ title }}'
    description: '{{ description }}'
    preloadImg: '{{ image }}'
    permalink: '/aanbod/{{ title | slug }}/index.html'
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/aanbod-een.css">
<link rel="stylesheet" href="/assets/css/cssbox.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <picture>
        <source media="(max-width: 600px)" srcset="{{ image }}">
        <source media="(min-width: 601px)" srcset="{{ image }}">
        <img aria-hidden="true" decoding="async" src="{{ image }}" alt="{{ imageAlt }}" loading="eager" width="2500"
            height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->



<section id="services-1665">
    {% if status %}
    <span class="cs-topper"><i class="fa-solid fa-euro-sign"></i>{{ price }}</span>
    {% else %}
    <span class="cs-sold"><i class="fa-solid fa-anchor-circle-xmark"></i> Verkocht</span>
    {% endif %}
    <h2 class="cs-title">{{ title}}</h2>

    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ image }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ image }}">
                <img loading="lazy" decoding="async" src="{{ image }}" alt="{{ imageAlt }}" width="605" height="690">
            </picture>
        </div>
        <div class="cs-wrapper">
            <h3>Kenmerken</h3>
            <div class="cs-kenmerken">
                {% if merk %}
                <div class="cs-kenmerk">
                    <p>{{ merk }}</p>
                    <span>Merk</span>
                </div>
                {% endif %}

                {% if model %}
                <div class="cs-kenmerk">
                    <p>{{ model }}</p>
                    <span>Model</span>
                </div>
                {% endif %}

                {% if lengte %}
                <div class="cs-kenmerk">
                    <p>{{ lengte }}</p>
                    <span>Lengte</span>
                </div>
                {% endif %}

                {% if breedte %}
                <div class="cs-kenmerk">
                    <p>{{ breedte }}</p>
                    <span>Breedte</span>
                </div>
                {% endif %}

                {% if diepgang %}
                <div class="cs-kenmerk">
                    <p>{{ diepgang }}</p>
                    <span>Diepgang</span>
                </div>
                {% endif %}

                {% if gewicht %}
                <div class="cs-kenmerk">
                    <p>{{ gewicht }}</p>
                    <span>Gewicht</span>
                </div>
                {% endif %}

                {% if bouwjaar %}
                <div class="cs-kenmerk">
                    <p>{{ bouwjaar }}</p>
                    <span>Bouwjaar</span>
                </div>
                {% endif %}

                {% if vermogen %}
                <div class="cs-kenmerk">
                    <p>{{ vermogen }}</p>
                    <span>Vermogen</span>
                </div>
                {% endif %}

                {% if motorh %}
                <div class="cs-kenmerk">
                    <p>{{ motorh }}</p>
                    <span>Motorh</span>
                </div>
                {% endif %}

                {% if motor %}
                <div class="cs-kenmerk">
                    <p>{{ motor }}</p>
                    <span>Motor</span>
                </div>
                {% endif %}

                {% if drive %}
                <div class="cs-kenmerk">
                    <p>{{ drive }}</p>
                    <span>Drive</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="blog-text">
        <h3>Meer info</h3>
        {{ content | safe }}
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1446">
    <div class="cs-container">
        <div class="cs-gallery">
            {% for item in galleryImages %}
            <div class="cssbox cs-image">
                <a id="image{{ loop.index }}" href="#image{{ loop.index }}"><img class="cssbox_thumb"
                        src="{{ item.image }}" />
                    <span class="cssbox_full"><img src="{{ item.image }}" /></span>
                </a>

                <a class="cssbox_close" href="#void"></a>
                {% if loop.index > 1 %}
                <a class="cssbox_prev" href="#image{{ loop.index - 1 }}">&lt;</a>
                {% endif %}
                {% if not loop.last %}
                <a class="cssbox_next" href="#image{{ loop.index + 1 }}">&gt;</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% include 'components/cta.html' %}


{% endblock %}