---
title: 'Boot accessoires'
description: 'Flexiteak vloeren, digitalisering en muziekinstallaties, towers, bootzeilen en covers, polyesterwerken'
preloadImg: '/assets/images/accesories.jpg'
permalink: 'boot-accessoires/'
eleventyNavigation:
    key: Boot accessoires
    parent: Diensten
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/accesories.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Boot accessoires</h1>
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/accesories.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/accesories.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/accesories.jpg" alt="new home" width="2500"
            height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Accessoires</span>
                <h2 class="cs-title">Professionele Accessoire-installatie voor Optimaal Bootcomfort</h2>
            </div>
            <p class="cs-text">
                Een boot hebben is natuurlijk altijd leuk. Maar heb je bepaalde accesoires die je professioneel wilt
                laten installeren? Dan ben je bij ons aan het juiste adres. Wij kunnen zowel opbouw als inbouw
                accesoires installeren.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/floor.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Flexiteak vloeren</h3>
                    <p class="cs-item-text">
                        Op maat gemaakte teak platen.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/music.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Digitalisering en muziekinstallaties</h3>
                    <p class="cs-item-text">
                        Wij doen zowel aan digitalisering van het
                        dashboard als installeren van nieuwe muziekinstallaties. Wij werken met merken
                        als Simrad , Fusion , Hertz
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/wake.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Towers</h3>
                    <p class="cs-item-text">
                        Wij installeren zowel monster als jobe towers met alle bijhorende
                        accessoires.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/interior.svg" loading="lazy" decoding="async"
                        alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Interieur op maat</h3>
                    <p class="cs-item-text">
                        Zin om een totaal andere look te hebben in je boot. Wij
                        kunnen deze volledig re-stailing.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/covers.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Bootzeilen en covers</h3>
                    <p class="cs-item-text">
                        Is jou botenzeil versleten of heeft deze een herstelling
                        nodig? Wij maken op maat gemaakte nieuwe zeilen met de originele stoffen of
                        kunnen jou huidige herstellen.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/layers.svg" loading="lazy" decoding="async"
                        alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Polyesterwerken</h3>
                    <p class="cs-item-text">
                        Polyesterwerken op maat? Contacteer ons.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section>
    <img class="cs-custom" loading="lazy" decoding="async" src="/assets/images/pages/accesoires/pic.jpg"
        alt="Bimini top" width="413" height="240" aria-hidden="true">
</section>


<!-- <section id="services-1083">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/bimini.png">

                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/bimini.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/bimini.png"
                        alt="Bimini top" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/inbouw.png">

                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/inbouw.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/inbouw.png"
                        alt="Inbouw console" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/inbouw-navigatie.png">
           
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/inbouw-navigatie.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/inbouw-navigatie.png"
                        alt="Navigatie" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
       
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/boot-herspuiten.png">
      
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/boot-herspuiten.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/boot-herspuiten.png"
                        alt="herspuiten" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/bakboordlicht.png">
    
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/bakboordlicht.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/bakboordlicht.png"
                        alt="bakboordlicht" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
              
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/teakfloor.png">
                
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/teakfloor.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/teakfloor.png"
                        alt="teak floor" width="413" height="240" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section> -->



{% include 'components/cta.html' %}

{% endblock %}