---
title: 'Boot accessoires'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'boot-accessoires/'
eleventyNavigation:
    key: Boot accessoires
    parent: Diensten
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/accesories.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Boot accessoires</h1>
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/accesories.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/accesories.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/accesories.jpg" alt="new home" width="2500"
            height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Accessoires</span>
                <h2 class="cs-title">Professionele Accessoire-installatie voor Optimaal Bootcomfort</h2>
            </div>
            <p class="cs-text">
                Een boot hebben is natuurlijk altijd leuk. Maar heb je bepaalde accesoires die je professioneel wilt
                laten installeren? Dan ben je bij ons aan het juiste adres. Wij kunnen zowel opbouw als inbouw
                accesoires installeren.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/floor.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Flexiteak vloeren</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people
                        adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/music.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Digitalisering en muziekinstallaties</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people
                        adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/wake.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Towers</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people
                        adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/interior.svg" loading="lazy" decoding="async"
                        alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Interieur op maat</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people
                        adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/swim.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Verlengt zwemplateau</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people
                        adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/layers.svg" loading="lazy" decoding="async"
                        alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">En meer!</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people
                        adip iscing elit achieve.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<section>
    <img class="cs-custom" loading="lazy" decoding="async" src="/assets/images/pages/accesoires/pic.jpg"
        alt="Bimini top" width="413" height="240" aria-hidden="true">
</section>


<!-- <section id="services-1083">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/bimini.png">

                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/bimini.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/bimini.png"
                        alt="Bimini top" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/inbouw.png">

                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/inbouw.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/inbouw.png"
                        alt="Inbouw console" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/inbouw-navigatie.png">
           
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/inbouw-navigatie.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/inbouw-navigatie.png"
                        alt="Navigatie" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
       
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/boot-herspuiten.png">
      
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/boot-herspuiten.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/boot-herspuiten.png"
                        alt="herspuiten" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">

                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/bakboordlicht.png">
    
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/bakboordlicht.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/bakboordlicht.png"
                        alt="bakboordlicht" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
              
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/teakfloor.png">
                
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/teakfloor.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/teakfloor.png"
                        alt="teak floor" width="413" height="240" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section> -->



{% include 'components/cta.html' %}

{% endblock %}