---
title: 'Boot accessoires'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'boot-accessoires/'
eleventyNavigation:
key: Boot accessoires
parent: Diensten
order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/accesories.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Boot accessoires</h1>
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/accesories.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/accesories.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/accesories.jpg" alt="new home" width="2500"
            height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1083">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Boot accessoires</span>
            <h2 class="cs-title">Professionele Accessoire-installatie voor Optimaal Bootcomfort</h2>
            <p class="cs-text">
                Natuurlijk is het hebben van een boot altijd leuk. Maar heeft u bepaalde accessoires die u professioneel
                wilt hebben?
                heb je het geïnstalleerd? Dan bent u bij ons aan het juiste adres. Wij kunnen zowel opbouw als inbouw
                uitvoeren
                accessoires installeren. Wij bieden Installatie van dieptemeter, radio, extra tellers in dashboard,
                navigatie, verlengd zwemplatform, bimini-top, bootkap, leerreparatie en meer.


            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/bimini.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/bimini.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/bimini.png"
                        alt="Bimini top" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/inbouw.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/inbouw.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/inbouw.png"
                        alt="Inbouw console" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/inbouw-navigatie.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/inbouw-navigatie.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/inbouw-navigatie.png"
                        alt="Navigatie" width="413" height="240" aria-hidden="true">
                </picture>
 
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/boot-herspuiten.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/boot-herspuiten.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/boot-herspuiten.png"
                        alt="herspuiten" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/bakboordlicht.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/bakboordlicht.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/bakboordlicht.png"
                        alt="bakboordlicht" width="413" height="240" aria-hidden="true">
                </picture>

            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/accesoires/teakfloor.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/accesoires/teakfloor.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/accesoires/teakfloor.png"
                        alt="teak floor" width="413" height="240" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>



{% include 'components/cta.html' %}

{% endblock %}