---
title: 'Verkoop van boten, motoren en trailers'
description: 'Aanbod van nieuwe Fibrafort boten en Tohatsu motoren, tweedehands boten en inclusief trailers'
preloadImg: '/assets/images/keyby_in_boat.JPG'
permalink: 'alle-aanbod/'
eleventyNavigation:
    parent: Aanbod
    key: Alle aanbod
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/aanbod.css">
{% endblock %}

{% block body %}

<section id="int-hero">
    <h1 id="home-h">Aanbod</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/keyby_in_boat.JPG">
        <source media="(min-width: 601px)" srcset="/assets/images/keyby_in_boat.JPG">
        <img aria-hidden="true" decoding="async" src="/assets/images/keyby_in_boat.JPG" alt="Fibrafort" loading="eager"
            width="2500" height="1667">
    </picture>
</section>

<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Aanbod boten</span>
                <h2 class="cs-title">Verkoop tweedehands boten</h2>
                <p>Brabus Boats staat paraat om u te adviseren en de ideale boottrailer te vinden die perfect aansluit
                    op
                    uw behoeften. Kies voor betrouwbaarheid en vakmanschap in elke trailer die wij aanbieden. Neem
                    vandaag
                    nog contact met ons op voor meer informatie om ons assortiment boottrailers te ontdekken.</p>
            </div>
            <a href="/tweedehands-boten" class="cs-button-solid">Bekijk alles</a>
        </div>
        <ul class="cs-card-group">
            {%- set reverseSecondHands = collections.tweedehands | reverse -%}
            {%- for post in reverseSecondHands.slice(0,3) -%}
            <div class="cs-group">
                <a href="{{ post.url }}">
                    <li class="cs-item">
                        {% if post.data.status %}
                        <picture class="cs-picture">
                        {% else %}
                        <picture class="cs-picture sold">
                        {% endif %}
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{{ post.data.image }}">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="{{ post.data.image }}">
                            <img loading="lazy" decoding="async" src="{{ post.data.image }}"
                                alt="{{ post.data.imageAlt }}" width="413" height="480">
                        </picture>

                        <div class="cs-info">
                            <div class="header-wrapper">
                                <h3 class="cs-h3">{{ post.data.title }}</h3>
                                <picture class="cs-link-icon">
                                    <img loading="lazy" decoding="async" src="/assets/images/icons/external-link.svg"
                                        alt="link icon" width="22" height="22">
                                </picture>
                            </div>
                            <div>
                                {% if post.data.status %}
                                <span class="cs-available"><i class="fa-solid fa-euro-sign"></i>
                                    {{ post.data.price
                                    }}</span>
                                <span class="cs-available"><i class="fa-solid fa-calendar-days"></i>{{
                                    post.data.bouwjaar }}</span>
                                {% else %}
                                <span class="cs-sold"><i class="fa-solid fa-anchor-circle-xmark"></i> Verkocht</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </a>
            </div>
            {%- endfor -%}
        </ul>
    </div>
</section>

<section id="fibrafort">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <!-- <span class="cs-topper">Te koop</span> -->
                <h2 class="cs-title">NIEUWE Fibrafort 212 uitgerust met een buitenboordmotor 140pk tohatsu motor</h2>
                <a href="/fibrafort" class="cs-button-solid">Bekijk alles over Fibrafort</a>
            </div>

        </div>
        <ul class="cs-card-group">
            <div class="cs-group">
                {%- set newHand = collections.fibrafort | last -%}
                <a href="{{ newHand.url }}">
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{{ newHand.data.image }}">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="{{ newHand.data.image }}">
                            <img loading="lazy" decoding="async" src="{{ newHand.data.image }}"
                                alt="{{ newHand.data.imageAlt }}" width="413" height="480">
                        </picture>

                        <div class="cs-info">
                            <div class="header-wrapper">
                                <h3 class="cs-h3">{{ newHand.data.title }}</h3>
                                <picture class="cs-link-icon">
                                    <img loading="lazy" decoding="async" src="/assets/images/icons/external-link.svg"
                                        alt="link icon" width="22" height="22">
                                </picture>
                            </div>
                            <div>
                                <span class="cs-available"><i class="fa-solid fa-euro-sign"></i>
                                    {{ newHand.data.price }}
                                </span>
                                <span class="cs-available"><i class="fa-solid fa-calendar-days"></i>
                                    {{ newHand.data.bouwjaar }}</span>
                            </div>
                        </div>
                    </li>
                </a>
            </div>
        </ul>
    </div>
</section>


<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
               
                <span class="cs-topper">Buitenboordmotoren</span>
                <h2 class="cs-title">NIEUWE buitenboordmotoren Tohatsu</h2>
                <p class="cs-text">
                    Wij zijn een officiële verdeler van het Merk Tohatsu voor België. Alle motoren van 2.5pk tot 140pk
                    met de nodige instrumenten kunnen wij verkrijgen via de europese importeur.
                </p>
            </div>
            <a href="/tohatsu" class="cs-button-solid">Bekijk alles over tohatsu</a>
        </div>
        <ul class="cs-card-group">
            <div class="cs-group">
                <li class="cs-item">
                    <picture class="cs-picture sold">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/pages/trailer/trailer.jpg"
                            alt="stylist" width="413" height="480">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Boat trailer </h3>
                        <!-- <span class="cs-available">€ 9 950 excl btw </span> -->
                        <span class="cs-sold">Verkocht</span>
                        <span class="cs-desc">
                            NIEUWE Fibrafort 212 uitgerust met een buitenboordmotor 140pk tohatsu motor.
                        </span>
                        <a href="" class="cs-link">Ondek meer</a>
                    </div>
                </li>
            </div>
            <div class="cs-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/pages/trailer/trailer.jpg"
                            alt="stylist" width="413" height="480">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Boat trailer </h3>
                        <span class="cs-available">€ 9 950 excl btw </span>
                        <span class="cs-desc">
                            NIEUWE Fibrafort 212 uitgerust met een buitenboordmotor 140pk tohatsu motor.
                        </span>
                        <a href="" class="cs-link">Ondek meer</a>
                    </div>
                </li>
            </div>
            <div class="cs-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/pages/trailer/trailer2.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/pages/trailer/trailer2.jpeg">
                        <img loading="lazy" decoding="async" src="/assets/images/pages/trailer/trailer2.jpeg"
                            alt="stylist" width="413" height="480">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">New trailer</h3>
                        <span class="cs-available">€ 9 000</span>
                        <span class="cs-desc">
                            Deze prachtige bowrider boot is CE gekeurd en heeft alle nodige papieren.
                        </span>
                        <a href="" class="cs-link">Ondek meer</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-74">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/trailers.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/trailers.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/trailers.jpg"
                alt="Buitenboordmotoren" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Aanbod trailers</span>
            <h2 class="cs-title">Verkoop tweedehands trailers</h2>
            
            <p class="cs-text">Brabus Boats staat paraat om u te adviseren en de ideale boottrailer te vinden die perfect aansluit
                op
                uw behoeften. Kies voor betrouwbaarheid en vakmanschap in elke trailer die wij aanbieden. Neem
                vandaag
                nog contact met ons op voor meer informatie om ons assortiment boottrailers te ontdekken.</p>
            <a href="/contact" class="cs-button-solid">Contacteer ons voor meer informatie</a>
        </div>
    </div>
</section>

{% endblock %}