---
title: 'Bootonderhoud en diagnoses'
description: 'Bootonderhoud is zeer belangrijk om de optimale prestatie van uw motor te blijven garanderen.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'bootonderhoud-en-diagnoses/'
eleventyNavigation:
    parent: Diensten
    key: Bootonderhoud en diagnoses
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/bootonderhoud.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Bootonderhoud en diagnoses</h1>
    <picture>
        <!-- preloadImg: '/assets/images/cabinets2.jpg' -->
        <source media="(max-width: 600px)" srcset="/assets/images/onderhoud.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/onderhoud.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/onderhoud.jpg" alt="kitchen cabinets"
            loading="eager" width="2500" height="1667">
    </picture>

</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1665">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Onderhoud & reparaties</span>
            <h2 class="cs-title">Bootonderhoud en Diagnoseservice</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/KeybyBrabus1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/KeybyBrabus1.png">
                <img loading="lazy" decoding="async" src="/assets/images/KeybyBrabus1.png" alt="Keyby" width="605"
                    height="690">
            </picture>
        </div>
        <div class="cs-wrapper">
            <p class="cs-text">
                Onderhoud is zeer belangrijk om de optimale prestatie van uw motor te blijven garanderen. De dag van
                vandaag zijn veel botenmotoren voorzien van een ECU ( Electronic Control Unit), deze communiceert met
                diverse onderdelen van je botenmotor. Brabusboats beschikt dan ook over de orginele diagnose toestellen
                om motoren als Mercruiser, volvo penta, Mercury, yamaha, Tohatsu uit te lezen, onderhoud interval
                resetten, updates uit te voeren.
            </p>
            <ul class="cs-faq-group">
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/icons/laptop.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Interventies op locatie
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Brabusboats doet invertenties op locaties bij motorproblemen.
                        Boten die niet te vervoeren zijn door gewicht of grootte komen wij ter plekke onderhouden.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/icons/antifouling.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Aanbrengen van antifouling
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Wij brengen een speciale coating aan op uw boot om deze te beschermen
                        tegen aangroei van algen en wier.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/icons/polish.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Polijsten & Reinigen romp
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Om een boot in zijn originele staat te houden kunnen we de volledige romp
                        Polijsten. Elke boot die de winterstalling in gaat krijgt een volledige
                        reinigingsbeurt.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/icons/needle.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Polyester reparaties
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Heb je schade aan je boot dan kunnen wij alle polyester reparaties op ons
                        nemen. Zowel diepe krassen als scheuren kunnen we behandelen.
                    </p>
                </li>

                <li class="cs-faq-item">
                    <button class="cs-button">
                        <img class="h3-cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                            src="/assets/images/icons/wheel.svg" alt="icon" width="32" height="32">
                        <span class="cs-button-text">
                            Accessoires
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Alle accessoires kunnen we verkopen en installeren. Van Simrad schermen tot
                        nieuwe speakers van het merk Fusion en Hertz of slimme batterij systemen. Zie onze <a href="/boot-accessoires">accessoirespagina</a>
                         voor meer informatie.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-74">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/pages/onderhoud/onderhoud_buitenboordmotoren.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pages/onderhoud/onderhoud_buitenboordmotoren.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/pages/onderhoud/onderhoud_buitenboordmotoren.jpg"
                alt="Buitenboordmotoren" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Buitenboordmotoren</span>
            <h2 class="cs-title">Onderhoud en diagnoses buitenboordmotoren</h2>
            <p class="cs-text">
                Brabusboats is gekend met het uitvoeren van onderhoud op
                buitenboordmotoren. Wij beschikken ook over de juiste diagnose computer om
                alle nodige data uit de motor te halen.
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-74">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/pages/onderhoud/onderhoud_binnenboordmotoren.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pages/onderhoud/onderhoud_binnenboordmotoren.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/pages/onderhoud/onderhoud_binnenboordmotoren.jpg"
                alt="Binnenboordmotoren" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Binnenboordmotoren</span>
            <h2 class="cs-title">Onderhoud en diagnoses binnenboordmotoren</h2>
            <p class="cs-text">
                Brabusboats is gekend met het uitvoeren van onderhoud op
                binnenboordmotoren. Wij beschikken ook over de juiste diagnose computer
                om alle nodige data uit de motor te halen.
        </div>
    </div>
</section>



{% include 'components/cta.html' %}

{% endblock %}