---
title: 'Onderhoud en verkoop boottrailers'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'boottrailers/'
eleventyNavigation:
    parent: Aanbod
    key: Boottrailers
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/boottrailers.css">
<link rel="stylesheet" href="/assets/css/accesories.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Onderhoud en verkoop boottrailers</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/pages/trailer/trailer.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/pages/trailer/trailer.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/pages/trailer/trailer.jpg" alt="kitchen cabinets"
            loading="eager" width="2500" height="1667">
    </picture>
</section>

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Onderhoud en advies</span>
                <h2 class="cs-title">Onderhoud trailers</h2>
            </div>
            <p class="cs-text">
                Voor zorgeloos en veilig varen is regelmatig onderhoud van boottrailers essentieel. Onze professionele
                onderhoudsdiensten voor boottrailers zorgen ervoor dat uw trailer in topconditie blijft, klaar om uw
                boot veilig te vervoeren naar elke bestemming. Van inspecties en smering tot reparaties en aanpassingen,
                wij staan klaar om uw boottrailer optimaal te laten presteren. Vertrouw op onze expertise, zodat u met
                gemoedsrust kunt genieten van uw volgende avontuur op het water.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/trailers.svg" loading="lazy" decoding="async"
                        alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Grondige Inspecties</h3>
                    <p class="cs-item-text">
                        Zorgvuldige inspecties om elk aspect van uw boottrailer te evalueren, identificeren van
                        mogelijke slijtage en het waarborgen van optimale prestaties.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/diagnosis.svg" loading="lazy" decoding="async"
                        alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Vakkundig Onderhoud</h3>
                    <p class="cs-item-text">
                        Professioneel onderhoud omvat smering, aanpassingen en reparaties, waardoor uw boottrailer
                        betrouwbaar blijft en klaar is voor veilig transport van uw boot.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/icons/wheel.svg" loading="lazy" decoding="async" alt="icon"
                        width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Aanpassingen en Reparaties</h3>
                    <p class="cs-item-text">
                        Gespecialiseerde diensten voor aanpassingen en reparaties, waardoor we eventuele problemen snel
                        kunnen verhelpen en uw boottrailer in topconditie houden.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>


<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Aanbod</span>
                <h2 class="cs-title">Verkoop trailers</h2>
                <p>Brabus Boats staat paraat om u te adviseren en de ideale boottrailer te vinden die perfect aansluit
                    op
                    uw behoeften. Kies voor betrouwbaarheid en vakmanschap in elke trailer die wij aanbieden. Neem
                    vandaag
                    nog contact met ons op voor meer informatie om ons assortiment boottrailers te ontdekken.</p>
            </div>
        </div>
        <ul class="cs-card-group">
            <div class="cs-group">
                <li class="cs-item">
                    <picture class="cs-picture sold">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/pages/trailer/trailer.jpg"
                            alt="stylist" width="413" height="480">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Boat trailer </h3>
                        <!-- <span class="cs-available">€ 9 950 excl btw </span> -->
                        <span class="cs-sold">Verkocht</span>
                        <span class="cs-desc">
                            NIEUWE Fibrafort 212 uitgerust met een buitenboordmotor 140pk tohatsu motor.
                        </span>
                        <a href="" class="cs-link">Ondek meer</a>
                    </div>
                </li>
            </div>
            <div class="cs-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/pages/trailer/trailer.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/pages/trailer/trailer.jpg"
                            alt="stylist" width="413" height="480">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Boat trailer </h3>
                        <span class="cs-available">€ 9 950 excl btw </span>
                        <span class="cs-desc">
                            NIEUWE Fibrafort 212 uitgerust met een buitenboordmotor 140pk tohatsu motor.
                        </span>
                        <a href="" class="cs-link">Ondek meer</a>
                    </div>
                </li>
            </div>
            <div class="cs-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/pages/trailer/trailer2.jpeg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/pages/trailer/trailer2.jpeg">
                        <img loading="lazy" decoding="async" src="/assets/images/pages/trailer/trailer2.jpeg"
                            alt="stylist" width="413" height="480">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">New trailer</h3>
                        <span class="cs-available">€ 9 000</span>
                        <span class="cs-desc">
                            Deze prachtige bowrider boot is CE gekeurd en heeft alle nodige papieren.
                        </span>
                        <a href="" class="cs-link">Ondek meer</a>
                    </div>
                </li>
            </div>

        </ul>
    </div>
</section>


{% include 'components/cta.html' %}

{% endblock %}