---
title: 'Bootonderhoud en diagnoses'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'bootonderhoud-en-diagnoses/'
eleventyNavigation:
    parent: Diensten
    key: Bootonderhoud en diagnoses
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/bootonderhoud.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Bootonderhoud en diagnoses</h1>
    <picture>
        <!-- preloadImg: '/assets/images/cabinets2.jpg' -->
        <source media="(max-width: 600px)" srcset="/assets/images/onderhoud.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/onderhoud.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/onderhoud.jpg" alt="kitchen cabinets"
            loading="eager" width="2500" height="1667">
    </picture>

</section>

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->


<section id="services-880">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Onderhoud</span>
            <h2 class="cs-title">Expert bootonderhoud en grondige diagnoseservice</h2>
            <p class="cs-text">

                Brabusboats is voorzien van een diagnose computer waar we de motoren kunnen uitlezen.
                Het uitlezen is belangrijk zodat we al bestaande foutmelden kunnen nakijken of deze een gevolg kunnen
                geven aan de motor.
                Ook zijn we gespecialiseerd om aan transoms and sterndrive’s te werken indien nodig te vernieuwen.
            </p>
            <p class="cs-text">
                <span>Interventies op locatie.</span>
                Brabusboats doet ook inteventies op verplaatsing.
                Boten die niet te vervoeren zijn door gewicht of grootte komen wij ter plekke onderhouden.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">

                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/onderhoud/onderhoud1.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/onderhoud/onderhoud1.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/onderhoud/onderhoud1.png"
                        alt="onderhouden" width="305" height="200">
                </picture>
                <!-- <h3 class="cs-h3">Gebruik van orginele onderdelen</h3> -->

            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/onderhoud/onderhoud3.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/onderhoud/onderhoud3.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/onderhoud/onderhoud3.png"
                        alt="Onderhoud tools" width="305" height="200">
                </picture>
                <!-- <h3 class="cs-h3">Gebruik van de juiste werktools / special tool</h3> -->
            </li>
            <li class="cs-item">

                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/KeybyBrabus.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/KeybyBrabus.png">
                    <img loading="lazy" decoding="async" src="/assets/images/KeybyBrabus.png" alt="Diagnose computer"
                        width="305" height="200">
                </picture>
                <!-- <h3 class="cs-h3">Diagnose computer</h3> -->
            </li>
            <li class="cs-item">

                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)"
                        srcset="/assets/images/pages/onderhoud/onderhoud2.png">
                    <source media="(min-width: 601px)"
                        srcset="/assets/images/pages/onderhoud/onderhoud2.png">
                    <img loading="lazy" decoding="async"
                        src="/assets/images/pages/onderhoud/onderhoud2.png" alt="Werkmethode"
                        width="305" height="200">
                </picture>
                <!-- <h3 class="cs-h3">Juiste werkmethode ( volgens de fabrikant van de motor)</h3> -->
            </li>
        </ul>
    </div>
</section>



{% include 'components/cta.html' %}

{% endblock %}