---
title: 'Nieuwe Fibrafort boten'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'fibrafort/'
eleventyNavigation:
    key: Nieuwe Fibrafort boten
    parent: Aanbod
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/fibrafort.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Official Fibafort dealer</h1>
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/pages/fibrafort/fibrafort.png">
        <source media="(min-width: 601px)" srcset="/assets/images/pages/fibrafort/fibrafort.png">
        <img aria-hidden="true" decoding="async" src="/assets/images/pages/fibrafort/fibrafort.png" alt="new home"
            width="2500" height="1667" loading="eager">
    </picture>
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-88">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/pages/fibrafort/about.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/pages/fibrafort/about.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/pages/fibrafort/about.jpg" alt="people outside"
                    width="254" height="262">
            </picture>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/pages/fibrafort/keyby_in_boat.JPG">
                <source media="(min-width: 601px)" srcset="/assets/images/pages/fibrafort/keyby_in_boat.JPG">
                <img loading="lazy" decoding="async" src="/assets/images/pages/fibrafort/keyby_in_boat.JPG"
                    alt="people outside" width="254" height="262">
            </picture>
            <picture class="cs-picture">
                <source media="(max-width: 600px)"
                    srcset="/assets/images/pages/fibrafort/fibrafort1.jpg">
                <source media="(min-width: 601px)"
                    srcset="/assets/images/pages/fibrafort/fibrafort1.jpg">
                <img loading="lazy" decoding="async"
                    src="/assets/images/pages/fibrafort/fibrafort1.jpg" alt="person gardening"
                    width="254" height="262">
            </picture>
            <picture class="cs-picture">
                <source media="(max-width: 600px)"
                    srcset="/assets/images/pages/fibrafort/fibrafort2.jpg">
                <source media="(min-width: 601px)"
                    srcset="/assets/images/pages/fibrafort/fibrafort2.jpg">
                <img loading="lazy" decoding="async"
                    src="/assets/images/pages/fibrafort/fibrafort2.jpg"
                    alt="urban environment in green" width="254" height="262">
            </picture>
        </div>
        <!-- Right Section -->
        <div class="cs-content">
            <span class="cs-topper">Aanbod</span>
            <h2 class="cs-title">Nieuwe Fibrafort boten te koop</h2>
            <p class="cs-text">
                Fibrafort is van Braziliaanse makelarij met meer dan 30 jaar ervaring in het bouwen
                van boten in glasvezel. in het gamma van fibrafort zit een 18f tot over de 42f boten.
                Wij hebben altijd 1 of meerdere modellen in stock staan.
                Ontdek deze bij ons in de winkel of contacteer ons
            </p>
            <span>Wat zijn de voordelen van de fibrafort: </span>
            <ul>
                <li>prijs kwaliteit! </li>
                <li>versterkte polyester</li>
                <li>sportieve uitstraling</li>
                <li>goede vaareigenschappen</li>
                <li>Zowel sportieve bowrider modellen als mooie aangeklede overnachters. </li>
                <li>Garantie op vaarplezier</li>
            </ul>
        </div>
    </div>
</section>

<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Te koop</span>
                <h2 class="cs-title">NIEUWE Fibrafort 212 uitgerust met een buitenboordmotor 140pk tohatsu motor</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <div class="cs-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/pages/fibrafort/tekoop.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/pages/fibrafort/tekoop.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/pages/fibrafort/tekoop.jpg"
                            alt="stylist" width="413" height="480">
                    </picture>
                    <div class="cs-info">
                        <h3 class="cs-h3">Fibrafort 212 </h3>
                        <span class="cs-available">€ 49 950 excl btw </span>
                        <span class="cs-desc">
                            Deze boot wordt afgeleverd met een volledig nieuw dekzeil. 
                        </span>
                        <a href="" class="cs-link">Ondek meer</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</section>



{% include 'components/cta.html' %}

{% endblock %}