---
title: 'Wintestalling'
description: 'Brabus Boats biedt boten winterstalling aan. Wij zijn voorzien van een verwarmde loods van 600m² met camerabewaking.'
preloadImg: '/assets/images/accesories.webp'
permalink: 'winterstalling/'
eleventyNavigation:
    key: Winterstalling
    parent: Diensten
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/accesories.css">
<link rel="stylesheet" href="/assets/css/stalling.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Winterstalling</h1>
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/accesories.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/accesories.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/accesories.webp" alt="fibrafort" width="2500"
            height="1667" loading="eager">
    </picture>
</section>


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1645">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Stalling</span>
            <h2 class="cs-title">Winterstalling bij Brabus Boats</h2>
            <p class="cs-text">
                Bent u opzoek naar een winterplek voor uw boot? Hebt u wel of geen trailer? Geen
                probleem wij kunnen u helpen.
            </p>
            <p class="cs-text">
                Brabus Boats biedt winterstalling aan. Wij zijn voorzien van een
                verwarmde loods van 600m²
                met camerabewaking. Wij werken enkel onder het regime van “ Full service”. Dus de boten die bij ons
                gestald worden , worden ook door ons onderhouden. Wij werken er dagelijks aan om onze standaard op het
                hoogste niveau te houden en kiezen hiervoor om boten die onderhouden worden door andere bedrijven of
                door de eigenaar zelf niet te stallen bij ons.
            </p>
            <p class="cs-text">
                Hebt u vragen of wenst u een offerte te krijgen hiervoor
                mag u ons altijd <a href="/contact">contacteren.</a>
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="/assets/images/icons/engine.svg" loading="lazy" decoding="async" alt="icon"
                    width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Motoronderhoud</h3>
                    <p class="cs-item-text">Wij laten de motor draaien op antifries
                        zodat de koelingskanalen gevuld zijn en
                        de motor beschermd is tegen inwendige
                        corrosie.</p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/images/icons/diagnosis.svg" loading="lazy" decoding="async" alt="icon"
                    width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Herstellingen</h3>
                    <p class="cs-item-text">Bij schade kunnen wij in de
                        wintermaanden ervoor zorgen dat deze
                        hersteld wordt voor begin nieuw
                        vaarseizoen.</p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/images/icons/wheel.svg" loading="lazy" decoding="async" alt="icon"
                    width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Reinigen</h3>
                    <p class="cs-item-text">Wij reinigen de boot volledig zodat de
                        boot weer in zijn orginele staat het
                        nieuwe vaarseizoen kan beginnen.</p>
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="/assets/images/icons/stalling.svg" loading="lazy" decoding="async" alt="icon"
                    width="48" height="48" aria-hidden="true">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Boot winter klaarmaken</h3>
                    <p class="cs-item-text">Accu’s afkoppelen en opladen
                        Vochtvreters tegen schimmel in de boot
                        leggen.</p>
                </div>
            </li>
        </ul>
    </div>
</section>


<section id="services-1083" style="padding-top: 1rem;">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/stalling/stalling.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/stalling/stalling.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/stalling/stalling.webp"
                        alt="Bimini top" width="413" height="240" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/stalling/stalling1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/stalling/stalling1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/stalling/stalling1.webp"
                        alt="Inbouw console" width="413" height="240" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/pages/stalling/stalling2.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/pages/stalling/stalling2.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/pages/stalling/stalling2.webp"
                        alt="Navigatie" width="413" height="240" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>


{% include 'components/cta.html' %}

{% endblock %}