/* PAGE-SPECIFIC STYLES FOR THE BOOTONDERHOUD PAGE */
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-880 {
    padding: var(--sectionPadding);
  }
  #services-880 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-880 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services-880 .cs-title {
    /* max width of 18 characters, includes spaces between words */
    max-width: 18ch;
  }
  #services-880 .cs-text {
    margin-bottom: 1rem;
  }
  #services-880 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #services-880 .cs-text span {
    color: var(--primary);
    font-weight: 600;
  }
  #services-880 ul {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  #services-880 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-880 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-880 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }
  #services-880 .cs-item {
    text-align: center;
    list-style: none;
    overflow: hidden;
    background-color: #f7f7f7;
    grid-column: span 4;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  #services-880 .cs-link {
    text-decoration: none;
    padding: 0 0 1.25rem 0;
    display: block;
  }
  #services-880 .cs-picture {
    width: 100%;
    height: 18.75rem;
    background-color: var(--primaryLight);
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 10;
  }
  #services-880 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #services-880 .cs-h3 {
    font-size: 1rem;
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    padding: 0 clamp(1rem, 2vw, 1.5rem);
    transition: color 0.3s;
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: white;
    width: 100%;
    padding: 16px 12px;
    text-align: left;
  }
  #services-880 .cs-h3:before {
    /* background-color */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #services-880 .cs-item-text {
    /* 14px - 16px  */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    margin: 0;
    padding: 0 1.25rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-880 .cs-container {
    max-width: 80rem;
  }
  #services-880 .cs-item {
    grid-column: span 2;
  }
}
/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #services-880 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #services-880 .cs-card-group {
    width: 50%;
    max-width: 39.375rem;
    /* offsets by the same amount the cards are translated */
    margin-bottom: 3.75rem;
    grid-template-columns: repeat(2, 1fr);
  }
  #services-880 .cs-item {
    grid-column: span 1;
  }
  #services-880 .cs-item:nth-of-type(1), #services-880 .cs-item:nth-of-type(3) {
    transform: translateY(3.75rem);
  }
}

/*# sourceMappingURL=bootonderhoud.css.map */
