---
title: 'Boten verkoop en service in Temse, Belgie'
description: 'Gespecialiseerd in verkoop, onderhoud, winterberging, herstelling, wrapping van uw boot. '
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
key: Home
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/landing.css" />
<link rel="stylesheet" href="/assets/css/hero.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-227">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Brabusboats</span>
            <h1 class="cs-title">Jouw erkende botenbedrijf</h1>
            <p class="cs-subtitle">
                Boten, onderhoud, winterstalling en meer.
            </p>
        </div>

    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 1000px)" srcset="/assets/images/keyby_in_boat_hero.JPG">
        <source media="(min-width: 1001px)" srcset="/assets/images/hero.png">
        <img decoding="async" src="/assets/images/hero.png" alt="Keyby and boat" width="100%" height="auto"
            aria-hidden="true">
    </picture>
</section>



<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-297">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-number">7</span>
                <span class="cs-desc">jaren in zaken</span>
                <!--Background image for cs-box-->
                <picture class="cs-box-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/KeybyBrabus.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/KeybyBrabus.png">
                    <img loading="lazy" decoding="async" src="/assets/images/KeybyBrabus.png" alt="greek pillars"
                        width="521" height="672" aria-hidden="true">
                </picture>
            </div>
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/KeybyBrabus1.png">
                <source media="(min-width: 601px)" srcset="/assets/images/KeybyBrabus1.png">
                <img loading="lazy" decoding="async" src="/assets/images/KeybyBrabus1.png" alt="greek pillars"
                    width="521" height="672" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Wie we zijn</span>
            <h2 class="cs-title">Over Brabus Boats</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet,
                iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
                nonatourean olei aptent taciti sociosqu ad litora torquent per.

                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet,
                iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
                nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p">
                    <span>Waarom ons?</span>
                    Wij hechten er veel waarde aan om onze klant een persoonlijke en op maat gemaakte service te bieden.
                </p>
                <span class="cs-name">Keyby Braun</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136"
                    height="77" />
            </div>
            <!-- <a class="cs-button-solid" aria-label="learn more about our programs" href="">Meer over ons</a> -->
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1259">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Diensten</span>
            <h2 class="cs-title">Complete bootdiensten in Temse, België</h2>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit mollit.
            </p>
        </div>
        <div class="cs-wrapper">
            <!--Car-->
            <picture class="cs-image">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/yamaha.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/yamaha.png">
                <img loading="lazy" decoding="async" src="/assets/images/yamaha.png" alt="yahama" width="417"
                    height="468" aria-hidden="true">
            </picture>
            <!--Circle Graphic-->
            <picture class="cs-circle">
                <!--Mobile Image-->
                <source media="(max-width: 1249px)" srcset="/assets/images/ellipse2.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1250px)" srcset="/assets/images/ellipse.svg">
                <img loading="lazy" decoding="async" src="/assets/images/ellipse.svg" alt="circle" width="724"
                    height="665" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/diagnosis.svg" loading="lazy"
                                decoding="async" alt="icon" width="50" height="50" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Bootonderhoud en diagnoses</h3>
                            <p class="cs-item-text">It’s no secret that one person alone cannot overcome the greatest
                                humanitarian crises.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/wheel.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Boot accessoires</h3>
                            <p class="cs-item-text">It’s no secret that one person alone cannot overcome the greatest
                                humanitarian crises.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/trailers.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Onderhoud en aanpassingen boottrailers</h3>
                            <p class="cs-item-text">It’s no secret that one person alone cannot overcome the greatest
                                humanitarian crises.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/aankop.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Verkoop van boten, motoren en trailers</h3>
                            <p class="cs-item-text">It’s no secret that one person alone cannot overcome the greatest
                                humanitarian crises.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/stalling.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Winter en zomer stalling</h3>
                            <p class="cs-item-text">It’s no secret that one person alone cannot overcome the greatest
                                humanitarian crises.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/engine.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Onderhoud boordmotoren en re-power bootmotoren</h3>
                            <p class="cs-item-text">It’s no secret that one person alone cannot overcome the greatest
                                humanitarian crises.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                Boats for sale                -->
<!-- ============================================ -->

<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Aankoop & verkoop</span>
                <h2 class="cs-title">Nieuwe en en tweedehands boten te koop in Belgie</h2>
                <p>Bij Brabus Boats zijn wij uw vertrouwde partner voor al uw vaarbehoeften. Of u nu op zoek bent naar
                    een nieuwe boot of uw huidige wilt upgraden, ons toegewijde verkoopteam staat klaar om u bij elke
                    stap te helpen. Wij bieden een divers aanbod boten van topkwaliteit, passend bij verschillende
                    voorkeuren en budgetten. Met onze diepgaande kennis van de botensector en ons streven naar het
                    leveren van uitmuntendheid, zijn we er trots op u te kunnen helpen bij het vinden van het perfecte
                    schip dat aan uw wensen voldoet.</p>
            </div>
            <a href="blog" class="cs-button-solid">Bekijk onze boten te koop</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/boat2.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/boat2.png">
                    <img loading="lazy" decoding="async" src="/assets/images/boat2.png" alt="stylist" width="413"
                        height="480">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Glastron GTS205 </h3>
                    <span class="cs-available">€ 23 000</span>
                    <span class="cs-desc">
                        Prachtige nieuwe rib samen gesteld door ons.
                    </span>
                    <a href="" class="cs-link">Ondek meer</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/larson.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/larson.png">
                    <img loading="lazy" decoding="async" src="/assets/images/larson.png" alt="stylist" width="413"
                        height="480">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Larson LSR2100 </h3>
                    <span class="cs-sold">Verkocht</span>
                    <span class="cs-desc">
                        Larson LSR 2100 -5.0L MPI V8 – Weinig draaiuren
                    </span>
                    <a href="" class="cs-link">Ondek meer</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/Regal.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/Regal.png">
                    <img loading="lazy" decoding="async" src="/assets/images/Regal.png" alt="stylist" width="413"
                        height="480">
                </picture>
                <div class="cs-info">
                    <h3 class="cs-h3">Sea Ray SPX 19 -150pk mercury </h3>
                    <span class="cs-available">€ 29 000</span>
                    <span class="cs-desc">
                        Deze prachtige bowrider boot is CE gekeurd en heeft alle nodige papieren.
                    </span>
                    <a href="" class="cs-link">Ondek meer</a>
                </div>
            </li>
        </ul>
    </div>
</section>



{% include 'components/cta.html' %}
{% endblock %}