---
title: 'Boten verkoop en service in Temse, Belgie'
description: 'Gespecialiseerd in verkoop, onderhoud, winterberging, herstelling, wrapping van uw boot. '
preloadImg: '/assets/images/hero.png'
permalink: '/'
eleventyNavigation:
key: Home
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/landing.css" />
<link rel="stylesheet" href="/assets/css/hero.css" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window
            .netlifyIdentity
            .on('init', (user) => {
                if (!user) {
                    window
                        .netlifyIdentity
                        .on('login', () => {
                            document.location.href = '/admin/';
                        });
                }
            });
    }
</script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-227">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">Brabusboats</span>
            <h1 class="cs-title">Erkend botenbedrijf</h1>
            <p class="cs-subtitle">
                Verkoop boten , Onderhoud binnen/buitenboord motoren, winterstalling en meer.
            </p>
        </div>

    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 1000px)" srcset="/assets/images/keyby_in_boat_hero.JPG">
        <source media="(min-width: 1001px)" srcset="/assets/images/hero.png">
        <img decoding="async" src="/assets/images/hero.png" alt="Keyby and boat" width="100%" height="auto"
            aria-hidden="true">
    </picture>
</section>



<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-297">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <!--Big Background Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/about.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/about.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/about.jpg" alt="Brabus Boats" width="521"
                    height="672" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Ons verhaal</span>
            <h2 class="cs-title">Brabus Boats</h2>
            <p class="cs-text">
                Niet altijd heb ik gewerkt aan boten , eerder heb ik gewerkt in andere sectoren. Maar de
                vrijetijd ging altijd naar het opzoeken en werken aan speedboten. Toen ik nog jong was
                gingen we altijd op vakantie met onze boot aan het Gardameer. Ik denk dat daar ook mijn
                liefde voor pleziervaartuigen is begonnen. Men eerste centjes ging dan ook niet op een
                leeftijd van 16 naar een scooter maar eerder naar een jetski die ik dan helemaal opknapte en
                verkochte. De exemplaren werden groter en groter. Motorisch en elektrisch de puntjes op de
                i zetten en terug doorverkopen. Paar jaar geleden begon ik in bijberoep maar dit werd snel
                mijn hoofdberoep.
                <br>
                <br>
                Vandaag de dag kan ik zeggen dat ik de eigenaar ben van een erkend
                botenbedrijf met oog voor detail. Heb jij een project of heb je een onderhoud nodig dan mag
                je ons natuurlijk altijd contacteren. Elke boot bekijk ik alsof hij van mij is.
            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p">
                    <span>Waarom kiezen voor Brabus Boats?</span>
                    Tijdens de werken proberen we onze klanten veel mee te betrekken in het proces. Dit om
                    ervoor te zorgen dat de klant weet waar hij voor betaald en wat er effectief gebeurd.
                </p>
                <span class="cs-name">Keyby Braun</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136"
                    height="77" />
            </div>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1259">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Diensten</span>
            <h2 class="cs-title">Full service aan pleziervaartuigen </h2>
            <p class="cs-text">
                In Temse worden uitgebreide diensten aangeboden voor pleziervaartuigen, waardoor een allesomvattende
                ervaring wordt gegarandeerd voor liefhebbers van varen. Van onderhoud en reparaties tot
                aanlegfaciliteiten, de lokale voorzieningen voldoen aan de uiteenlopende behoeften van eigenaren van
                pleziervaartuigen.
            </p>
        </div>
        <div class="cs-wrapper">
            <!--Car-->
            <picture class="cs-image">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/yamaha.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/yamaha.png">
                <img loading="lazy" decoding="async" src="/assets/images/yamaha.png" alt="yahama" width="417"
                    height="468" aria-hidden="true">
            </picture>
            <!--Circle Graphic-->
            <picture class="cs-circle">
                <!--Mobile Image-->
                <source media="(max-width: 1249px)" srcset="/assets/images/ellipse2.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 1250px)" srcset="/assets/images/ellipse.svg">
                <img loading="lazy" decoding="async" src="/assets/images/ellipse.svg" alt="circle" width="724"
                    height="665" aria-hidden="true">
            </picture>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="/bootonderhoud-en-diagnoses" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/diagnosis.svg" loading="lazy"
                                decoding="async" alt="icon" width="50" height="50" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Bootonderhoud en diagnoses</h3>
                            <p class="cs-item-text">Voor speedboten voorzien wij in uitgebreid onderhoud, diagnoses en
                                reparaties en ook onderhoud binnen/buitenboordmotoren.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/boot-accessoires" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/wheel.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Boot accessoires</h3>
                            <p class="cs-item-text">Wij bieden een uitgebreid assortiment bootaccessoires aan voor een
                                complete uitrusting van uw vaartuig.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/boottrailers" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/trailers.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Verkoop en onderhoud trailers</h3>
                            <p class="cs-item-text">Wij verzorgen zowel de verkoop als het onderhoud van trailers, zodat
                                u zorgeloos en veilig met uw vaartuig de weg op kunt.</p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/aanbod" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/aankop.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Aanbod</h3>
                            <p class="cs-item-text">Uitgebreid assortiment voor de verkoop - boten, trailers, motoren.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="/winterstalling" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/stalling.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Winterstalling</h3>
                            <p class="cs-item-text">Voor een veilige winterstalling van speedboten bent u bij ons aan
                                het juiste adres, met speciale stallingsvoorzieningen voor uw boot om uw vaartuig
                                tijdens het winterseizoen in optimale conditie te houden.
                            </p>
                        </div>
                    </a>
                </li>
                <li class="cs-item cs-last">
                    <a href="/repower-bootmotoren" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/images/icons/engine.svg" loading="lazy" decoding="async"
                                alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>

                        <div class="cs-text-group">
                            <h3 class="cs-h3">Re-Powering motoren</h3>
                            <p class="cs-item-text">In de voortdurend evoluerende botenmarkt wordt de vraag naar
                                motorupgrades steeds prominenter, waarbij klanten vaak streven naar krachtiger, zuiniger
                                of zelfs ombouw naar buitenboordmotoren</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>



<!-- ============================================ -->
<!--                Boats for sale                -->
<!-- ============================================ -->

<section id="blog-986">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Aankoop & verkoop</span>
                <h2 class="cs-title">Nieuwe en en tweedehands boten te koop in Belgie</h2>
                <p>Bij Brabus Boats zijn wij uw vertrouwde partner voor al uw vaarbehoeften. Of u nu op zoek bent naar
                    een nieuwe boot of uw huidige wilt upgraden, ons toegewijde verkoopteam staat klaar om u bij elke
                    stap te helpen. Wij bieden een divers aanbod boten van topkwaliteit, passend bij verschillende
                    voorkeuren en budgetten. Met onze diepgaande kennis van de botensector en ons streven naar het
                    leveren van uitmuntendheid, zijn we er trots op u te kunnen helpen bij het vinden van het perfecte
                    schip dat aan uw wensen voldoet.</p>
            </div>


        </div>
        <ul class="cs-card-group">
            <div class="cs-group">
                <a href="/fibrafort" class="cs-button-solid">Nieuwe Fibrafort boten te koop</a>
                {%- set newHand = collections.fibrafort | first -%}
                <a href="{{ post.url }}">
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{{ newHand.data.image }}">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="{{ newHand.data.image }}">
                            <img loading="lazy" decoding="async" src="{{ newHand.data.image }}"
                                alt="{{ newHand.data.imageAlt }}" width="413" height="480">
                        </picture>

                        <div class="cs-info">
                            <h3 class="cs-h3">{{ newHand.data.title }}</h3>
                            <picture class="cs-link-icon">
                                <img loading="lazy" decoding="async" src="/assets/images/icons/external-link.svg"
                                    alt="link icon" width="22" height="22">
                            </picture>
                            <div>
                                <span class="cs-available"><i class="fa-solid fa-euro-sign"></i>
                                    {{ newHand.data.price }}
                                </span>
                                <span class="cs-available"><i class="fa-solid fa-calendar-days"></i>
                                    {{ newHand.data.bouwjaar }}</span>
                                <span class="cs-available"><i class="fa-solid fa-anchor"></i>
                                    {{ newHand.data.drive }}</span>
                            </div>
                        </div>
                    </li>
                </a>
            </div>
            <div class="cs-group">
                <a href="blog" class="cs-button-solid">Tweedehands boten te koop</a>

                {%- set secondHand = collections.tweedehands | first -%}
                <a href="{{ lastSecondHand.url }}">
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <!--Mobile Image-->
                            <source media="(max-width: 600px)" srcset="{{ secondHand.data.image }}">
                            <!--Tablet and above Image-->
                            <source media="(min-width: 601px)" srcset="{{ secondHand.data.image }}">
                            <img loading="lazy" decoding="async" src="{{ secondHand.data.image }}"
                                alt="{{ secondHand.data.imageAlt }}" width="413" height="480">
                        </picture>

                        <div class="cs-info">
                            <h3 class="cs-h3">{{ secondHand.data.title }}</h3>
                            <picture class="cs-link-icon">
                                <img loading="lazy" decoding="async" src="/assets/images/icons/external-link.svg"
                                    alt="link icon" width="22" height="22">
                            </picture>
                            <div>
                                <span class="cs-available"><i class="fa-solid fa-euro-sign"></i>{{ secondHand.data.price
                                    }}</span>
                                <span class="cs-available"><i class="fa-solid fa-calendar-days"></i>{{
                                    secondHand.data.bouwjaar }}</span>
                                <span class="cs-available"><i class="fa-solid fa-anchor"></i>
                                    {{ secondHand.data.drive }}</span>
                            </div>
                        </div>
                    </li>
                </a>
            </div>
        </ul>
    </div>
</section>



{% include 'components/cta.html' %}
{% endblock %}