/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1259 {
        padding: var(--sectionPadding);
        // background-color: var(--backgroundAccent);
        /* prevents padding from affecting height and  */
        box-sizing: border-box;

        .cs-container {
            /* changes to 1280px at desktop */
            max-width: calc(940 / 16 * 1rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-image {
            width: 100%;
            max-width: calc(417 / 16 * 1rem);
            height: auto;
            display: none;
            position: relative;

            &:before {
                /* gradient mask, change the rgba values to match the color of the background you chose for the section and change it for dark mode as well if you chose a different dark mode color scheme */
                content: "";
                width: 100%;
                height: 40%;
                background: -moz-linear-gradient(top,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,
                        rgba(255, 255, 255, 0) 0%,
                        rgba(255, 255, 255, 1) 100%);
                opacity: 1;
                position: absolute;
                display: block;
                bottom: -1px;
                left: 0;
            }
        }

        .cs-circle {
            display: none;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(12, 1fr);
            gap: calc(20 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            margin: 0;
            box-sizing: border-box;
            grid-column: span 12;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-link {
            text-align: center;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(20 / 16 * 1rem);

            &:hover {
                .cs-picture {
                    transform: scale(1.2);
                }

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-picture {
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            box-sizing: border-box;
            /* prevents border from affecting height and width */
            background-color: #f7f7f7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            width: calc(40 / 16 * 1rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
            text-align: inherit;
            transition: color 0.3s;
        }


        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: inherit;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            min-width: calc(150 / 16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24 / 16 * 1rem);
            color: #fff;
            background-color: var(--primary);
            overflow: hidden;
            border-radius: calc(4 / 16 * 1rem);
            text-decoration: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            text-align: center;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 1768px */
@media only screen and (min-width: 48rem) {
    #services-1259 {
        .cs-item {
            grid-column: span 4;
        }

        .cs-link {
            text-align: left;
            align-items: flex-start;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1259 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-image {
            width: 40vw;
            max-width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 100%;
                height: 100%;
                max-height: calc(468 / 16 * 1rem);
                object-fit: contain;
            }
        }

        .cs-circle {
            /* 600px - 724px */
            width: clamp(600px, 55vw, 724px);
            height: auto;
            display: block;
            position: absolute;
            left: 50%;
            bottom: calc(32 / 16 * 1rem);
            transform: translateX(-50%);

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .cs-card-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            /* 342px - 462px */
            column-gap: clamp(20.375rem, 21vw, 28.875rem);
            row-gap: calc(16 / 16 * 1rem);
        }

        .cs-item {
            width: 32vw;
            max-width: calc(422 / 16 * 1rem);
            margin: 0;
            position: relative;

            &:nth-of-type(odd) {
                .cs-link {
                    text-align: right;
                    align-items: flex-end;
                }
            }

            &:nth-of-type(3) {
                padding-right: calc(100 / 16 * 1rem);
            }

            &:nth-of-type(4) {
                padding-left: calc(100 / 16 * 1rem);
            }
        }

        .cs-link {
            align-items: flex-start;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-1259 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-picture {
                background-color: var(--secondary);
            }

            // .cs-icon {
            //     /* turns it white */
            //     filter: grayscale(1) brightness(1000%);
            // }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-image {
                &:before {
                    background: -moz-linear-gradient(top,
                            rgba(255, 255, 255, 0) 0%,
                            var(--dark) 100%);
                    /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,
                            rgba(255, 255, 255, 0) 0%,
                            var(--dark) 100%);
                    /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,
                            rgba(255, 255, 255, 0) 0%,
                            var(--dark) 100%);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-297 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #f7f7f7;
            border-radius: 1rem;
            position: relative;
        }

        .cs-name {
            font-size: 1rem;
            font-weight: bold;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 0.25rem;
            color: var(--headerColor);
            display: block;
        }

        .cs-flex-p {
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 1rem;
            color: #353535;

            span {
                color: var(--primary);
                font-weight: 600;
            }
        }

        .cs-quote-icon {
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            right: clamp(1rem, 4vw, 2rem);
            bottom: 0rem;
        }

        .cs-job {
            font-size: 0.875rem;
            line-height: 1.5em;
            color: #353535;
            display: block;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-link {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 700;
            text-decoration: none;
            color: var(--primary);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            margin-top: 2rem;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: calc(550 / 16 * 1rem);
            /* 78px - 108px */
            margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 328/363;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 6px;
                object-fit: cover;
            }
        }

        .cs-box {
            /* 204px - 326px & changes at desktop */
            width: clamp(12.75rem, 50vw, 20.375rem);
            height: clamp(12.75rem, 50vw, 20.375rem);
            border-radius: 6px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            /* 38px - 60px - wrapped in a calc function to make clamp values negative */
            bottom: calc(clamp(2.375rem, 7.9vw, 3.75rem) * -1);
            transform: translateX(-50%);
            z-index: 10;
        }

        .cs-box-picture {
            /* Background image for cs-box */
            width: 100%;
            height: 100%;
            background-color: #000;
            border-radius: calc(10 / 16 * 1rem);
            /* clips img corners and bg corners */
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.65;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-number {
            /* 75px - 100px */
            font-size: clamp(4.6875rem, 8vw, 6.25rem);
            line-height: 1em;
            font-weight: 900;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
            /* creates the transparent clipping text */
            mix-blend-mode: screen;
            display: block;
            z-index: 10;

            &:before {
                /* opaque white box - For mix-blend-mode to work, we need the 
                   white box inside the .cs-number, so we use a pseudo element.
                   We DON'T add a position to the cs-number so the pseudo positions
                   itself relative to the .cs-box, which has position relative. This
                   allows us to center to .cs-number pseudo inside the .cs-box */
                content: "";
                /* 184px - 294px & changes at desktop */
                width: clamp(11.5rem, 45vw, 18.375rem);
                height: clamp(11.5rem, 45vw, 18.375rem);
                opacity: 1;
                background-color: #fff;
                border-radius: calc(7 / 16 * 1rem);
                position: absolute;
                display: block;
                /* these next 3 properties are an old school way to center an absolutely
                   positioned element inside a relative position parent */
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }

        .cs-desc {
            /* 16px - 25px */
            font-size: clamp(1rem, 4vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: lowercase;
            text-align: center;
            width: 80%;
            color: var(--headerColor);
            position: relative;
            z-index: 10;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-297 {
        /* aligns the button */
        text-align: left;

        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            gap: calc(160 / 16 * 1rem);
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-image-group {
            width: 40vw;
            max-width: calc(521 / 16 * 1rem);
            /* 520px - 672px */
            height: clamp(32.5rem, 51.9vw, 42rem);
            margin: 0;
        }

        .cs-box {
            /* 251px - 325px */
            width: clamp(15.6875rem, 24.5vw, 20.3125rem);
            height: clamp(15.6875rem, 24.5vw, 20.3125rem);
            left: auto;
            transform: none;
            /* -52px to -102px */
            right: calc(clamp(3.25rem, 5.5vw + 1.6rem, 6.375rem) * -1);
            /* 62px - 80px */
            bottom: clamp(3.875rem, 6.2vw, 5rem);
        }

        .cs-number {
            &:before {
                /* 226px - 293px */
                width: clamp(14.125rem, 22.7vw, 18.3125rem);
                height: clamp(14.125rem, 22.7vw, 18.3125rem);
            }
        }
    }
}

/*-- -------------------------- -->
<---       Boats for sale        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-986 {
        padding: var(--sectionPadding);
        background-color: #1c1c1c;

        p {
            color: white;
            margin: 2rem 0 1rem 0;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }



        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin-bottom: calc(32 / 16 * 1rem);
            max-width: 20ch;
            color: var(--bodyTextColorWhite);
        }

        .cs-available {
            font-size: 12px;
            background-color: var(--secondary);
            border-radius: 8px;
            padding: 2px 12px;
            letter-spacing: 1px;
            color: white;
            font-weight: 700;
            margin-bottom: 12px;
            margin-right: 6px;
            white-space: nowrap;
            display: inline-block;

            i {
                margin-right: 4px;
            }
        }

        .header-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .sold {
            opacity: 0.5;
        }

        .cs-sold {
            font-size: 12px;
            background-color: #8c8c8c;
            text-transform: uppercase;
            border-radius: 8px;
            padding: 2px 12px;
            letter-spacing: 1px;
            color: white;
            font-weight: 700;
            margin-bottom: 12px;
            margin-right: 6px;
            white-space: nowrap;
            display: inline-block;

            i {
                margin-right: 4px;
            }
        }


        .cs-button-solid {
            font-size: calc(16 / 16 * 0.85em);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0 auto 1rem auto;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            display: block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            width: 100%;


            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
        }


        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            margin-bottom: 3rem;
            max-height: 500px;

            &:hover {
                cursor: pointer;

                .cs-info {

                    &:before {
                        opacity: 1;
                        background-color: var(--secondary);
                    }
                }

                .cs-picture {
                    img {
                        transform: scale(1.15);
                    }
                }

                .cs-date {
                    color: #fff;
                }

                .cs-icon {
                    filter: brightness(150%);
                }

                .cs-link {
                    color: #fff;
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: auto;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;
            aspect-ratio: 1/1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: center;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.9s;
            }
        }

        .cs-info {
            width: 100%;
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            /* prevents padding from affecting the height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;

            &:before {
                /* background-color */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.8;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
                transition:
                    background-color 0.3s,
                    opacity 0.3s;
            }
        }

        .cs-date {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(20 / 16 * 1rem) 0;
            color: #bababa;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            transition: color 0.3s;
        }

        .cs-icon {
            width: calc(20 / 16 * 1rem);
            height: auto;
            transition: filter 0.3s;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: #fff;
            display: block;
        }

        .cs-desc {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(20 / 16 * 1rem) 0;
            color: #f7f7f7;
            display: block;
        }

        .cs-link {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: var(--primary);
            display: inline-block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }
        }
    }
}

/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
    #blog-986 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-picture {
            aspect-ratio: 1/1;
        }

        .cs-decorative {
            display: none;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1em);
            margin: 0 auto 2rem auto;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog-986 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
        }

        .cs-group {
            width: 100%;
        }

        .cs-button-solid {
            width: fit-content;
        }
    }
}