/*-- -------------------------- -->
<---           Video            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #video-548 {
        padding: var(--sectionPadding);

        li {
            color: var(--bodyTextColor);
        }


        .caption {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-weight: 600;

            span {
                color: var(--primary);
            }
        }


        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-big-link {
            width: 100%;
            /* 430px - 580px */
            height: clamp(26.875rem, 43vw, 36.25rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:hover {
                .cs-background {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            /* clips the img from overflowing the container on hover */
            overflow: hidden;
            display: block;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;

            &:before {
                /* color overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1B1B1B;
                opacity: 0.72;
                background-blend-mode: multiply;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 10;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                transition: transform 0.7s;
            }
        }

        .cs-link-icon {
            /* 80px - 110px */
            width: clamp(5rem, 11vw, 6.875rem);
            height: clamp(5rem, 11vw, 6.875rem);
            border-radius: 50%;
            position: absolute;
            z-index: 10;
            transition:
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                transform: scale(1.1);
                box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
            }
        }
    }
}

/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
    #video-548 .cs-container {
        flex-direction: row;
    }
}